#home{
    background-image: url(https://image.shutterstock.com/image-vector/seamless-pattern-social-media-networking-600w-1039923571.jpg);
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.welcome{
    margin-top: 10%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.911);
    border: 5px solid blue;
    height: 50%;
    padding-top: 30px;
}
