#forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: url(https://image.shutterstock.com/image-vector/seamless-pattern-social-media-networking-600w-1039923571.jpg);
    background-size: cover;
    /* justify-content: center; */
}

.sign-up{
    width: 60%;
    justify-content: center;
    background-color: white;
    padding: 5%;
    border: 5px solid lightblue;
    margin-top: 180px;
}

.log-in{
    width: 60%;
    justify-content: center;
    background-color: white;
    padding: 5%;
    border: 5px solid lightgreen;
    margin-top: 300px;
    /* display: none; */
}

.skip{
    margin: 5%;
}

/* RE-USABLES */

.hidden{
    display: none;
}